- if can? :index, @user
  %ul
    - @users.each do |user|
      %li= user.first_name << " "<< user.last_name
      %p 
        email:
        = user.email
        = link_to "See user","/users/profile/#{user.id.to_s}"
- else
  - controller.redirect_to '/', notice: 'You cannot go to that page.'