%br/
%br/
.cards
  .open_card
  .process_card
  .verified_card
  .completed_card
.jumbotron
  %center
    %h1
      %span.t
        T
      %span.r
        r
      %span.e
        e
      %span.l
        l
      %span.l
        l
      %span.o
        o
