.container
  .row
    .col-md-12
      .error-template
        %h1
          Oops!
        %h2
          404 Not Found
        .error-details
          Sorry, an error has occured, Requested page not found!
        .error-actions
          %br/
          %a.btn.btn-primary.btn-lg{:href => "/"}
            %span.glyphicon.glyphicon-envelope
            Contact Support
